pre {
border: 1px solid black;
border-radius: 0.25rem;
background-color: rgba(0, 0, 0, 0.04);
  word-break: normal;
  word-wrap: normal;

}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}